[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pytest-django = "*"
model-bakery = "*"
pytest = "*"
requests = "*"
psycopg-binary = "*"
python-decouple = "*"
psycopg2 = "*"
pytest-cov = "*"
responses = "*"
pytest-sugar = "*"

[dev-packages]

[requires]
python_version = "3.8"
